<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<h1>not formatted</h1>
<p>{{.}}</p>

<h1>formatted</h1>
<p>{{dmy .}}</p>
  </body>
</html>

