<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Celebrities</title>
  </head>
  <body>
<h1>Rockstars</h1>
<ul>
{{range .}}
<li>{{.Name}} - {{.Band}}</li>
{{end}}
</ul>
<h1>Rockstars Mod</h1>
<ul>
{{range .}}
<li>{{uc .Name}} - {{ft .Band}}</li>
{{end}}
</ul>

</ul>
  </body>
</html>
