<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Templates</title>
  </head>
  <body>

{{if gt .ScoreA .ScoreB}}
ScoreA > ScoreB
{{end}}

{{if lt .ScoreA .ScoreB}}
ScoreB > ScoreA
{{end}} 


  </body>
</html>

