<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Templates</title>
  </head>
  <body>
{{.Name}}-{{.Age}}
{{.Dblage}}
{{.Dblage | .Takesargs}}

  </body>
</html>

